@rendermode InteractiveServer
@page "/"
@inject ITodoService TodoService

<PageTitle>Home</PageTitle>

<h1>Interacting With SQLite In Blazor Application</h1>

<input type="text" @bind=todoTitle>
<button @onclick="AddTodo">Add Todo</button>

<ul>
    @foreach(var item in todos){
        <li>@item.Title</li>
    }
</ul>

@code{
    public string todoTitle = "";
    private TodoItem newTodo = new TodoItem {Title = ""};
    private List<TodoItem> todos = new List<TodoItem>();
    public async Task AddTodo(){
        Console.WriteLine($"New Todo: {todoTitle}");
        newTodo.Title = todoTitle;
        await TodoService.AddTodo(newTodo);
        newTodo.Title = "";
        todos = await TodoService.GetTodos();
        StateHasChanged();
    }
    private List<string> myList = new List<string>() {"Item 1", "Item 2", "Item 3", "i 4"};
}